<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="sEngineer" value="INATECH" />
    <add key="sEngineer_Password" value="INATECH" />
    <add key="sMaint_User" value="No" />
    <add key="sOperator_User" value="No" />
    <add key="sMaint_MissionSetting" value="Access" />
    <add key="sOperator_MissionSetting" value="Access" />
    <add key="sOperator_TrafficSetting" value="No" />
    <add key="sMaint_TrafficSetting" value="No" />
    <add key="sMAINT_Password" value="MAINT" />
    <add key="ACSChargerCount_MaxNum" value="1" />
    <add key="FloorMapID_MaxNum" value="3" />
    <add key="sFleet_IP_Address_SV" value="192.168.8.50" />
    <add key="RobotRegistarSync_MaxNum" value="1" />
    <add key="WaitMission_MaxNum" value="1" />
    <add key="ChargeMission_MaxNum" value="1" />
    <add key="ACSRobotGroup_MaxNum" value="1" />
    <add key="JobConfig_MaxNum" value="12" />
    <add key="PosAreaData_MaxNum" value="15" />
    <add key="RobotResetMissionName" value="reset" />
    <add key="MiR_MaxNum" value="6" />
    <add key="sAccessLevel" value="Operator" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Amkor K3 추가 -->
	<add key="sErrorSolution_URL2" value="https://amkor.sharepoint.com/:p:/s/Test2Team/ERTZllgvLc9HrOGUNKXZMt0BNpYg5GQKtsgZL3w0wlAMwQ?e=Up2oGY" />
	<add key="ErrorSolutionName1" value="■ M3FAOI&lt;-&gt;T3F Error 조치 Manual URL" />
	<add key="ErrorSolutionName2" value="■ M3FFVI&lt;-&gt;T3F Error 조치 Manual URL" />
	<add key="sErrorSolution_URL1" value="https://amkor.sharepoint.com/:p:/s/Test2Team/EbFZ2GTcQA1OnzKNi56EpZ8BYEahegDpyJQjSoF4vPD_bQ?e=DYz3t4" />
	<add key="UserNumber_MaxNum" value="1" />
	<add key="UserEmail_MaxNum" value="1" />
	  <add key="RobotIPAddress1" value="192.168.8.63" />
	  <add key="RobotIPAddress2" value="192.168.8.61" />
	  <add key="RobotIPAddress3" value="192.168.8.62" />
	  <add key="RobotIPAddress4" value="192.168.8.60" />
	  <add key="RobotIPAddress5" value="192.168.8.65" />
	  <add key="RobotIPAddress6" value="192.168.8.64" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>